<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Serene</title>
    <script src="login.js" charset="utf-8" defer></script>
    <!-- <link rel="stylesheet" href="index.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black">
    <div class="flex max-h-screen h-screen items-center justify-center" id="loginsection">
        <div class="bg-[#272727] rounded-lg p-4 w-96">
            <form id="loginForm">
                <div class="m-1 text-gray-300 text-lg font-bold"><label for="walletid">Email</label></div>
                <div class="m-1"><input type="email" name="email" id="email" class="bg-[#464646] border-none focus:outline-none w-full text-white rounded-lg px-4 py-2"></div>
                <div class="m-1 text-gray-300 text-lg font-bold"><label for="walletid">Meeting ID</label></div>
                <div class="m-1"><input type="text" name="meeting_id" id="meeting_id" class="bg-[#464646] border-none focus:outline-none w-full text-white rounded-lg px-4 py-2"></div>
                <button class="rounded-lg bg-[#FFF963] p-3 m-1 w-24 h-12">Login</button>
            </form>
        </div>
    </div>
    <div class="absolute top-0 right-0 opacity-30 z-0">
        <img src="../images/fre/depression.png" alt="" class="h-32 w-52 object-cover">
    </div>
    <div class="absolute top-0 right-1/2 opacity-30 z-0">
        <img src="../images/fre/anger.png" alt="" class="h-44 w-52">
    </div>
    <div class="absolute top-12 left-5 opacity-30 z-0">
        <img src="../images/fre/session.png " alt="" class="h-40 w-40 rounded-full">
    </div>
    <div class="absolute top-72 opacity-30 z-0">
        <img src="../images/fre/serenity.png " alt="" class="w-40 w-40">
    </div>
    <div class="absolute right-0 top-72 opacity-30 z-0">
        <img src="../images/fre/hug.png " alt="" class="w-40 w-40 rounded-full">
    </div>
    <div class="absolute bottom-0 right-1/2 opacity-20 z-0">
        <img src="../images/fre/cheers.png" alt="" class="h-64 w-64 rounded-full">
    </div>
  </body>

    
</html>